.header {
  background-color: var(--first-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__logo {
  width: 300px;
  margin: 20px 0px 20px 20px;
}

.nav__list {
  display: flex;
  margin-bottom: 40px;
}
.nav__list--item {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px;
  padding: 10px;
  border: solid 2px var(--second-color);
  border-radius: 5px;
}
.nav__list--item:hover {
  background-color: var(--second-color);
  border: solid 2px var(--second-color);
}
