.post-list-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
  border: solid 2px var(--second-color);
  border-radius: 5px;
}
.post__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.post__list--item {
  margin: 16px;
}

.ui-post-title {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
}

.ui-post-subtitle {
  cursor: pointer;
}
