.post-detail-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 20px 0px 0px;

  height: 40vh;
  border: solid 2px var(--second-color);
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__label {
  font-weight: 500;
  margin: 10px 0px;
  font-size: 18px;
}

.form__label--input {
  height: 40px;
  margin-left: 20px;
  border: solid 2px var(--second-color);
  border-radius: 5px;
  cursor: pointer;
}
