.title {
  font-size: 28px;
  margin: 10px 0px 20px 16px;
  color: var(--third-color);
  font-weight: 700;
  text-transform: capitalize;
  align-self: flex-start;
}

.button {
  margin: 10px 10px 0px 10px;
  padding: 8px 24px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--second-color);
  border: solid 2px var(--second-color);
  font-weight: 500;
  align-self: flex-end;
}
.button:hover {
  background-color: var(--first-color);
  border: solid 2px var(--second-color);
}
